<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>HORUS SITE</title>
    <link rel="stylesheet" href="{{url}}css/semantic.min.css"/>
    <script src="{{url}}js/jquery.min.js"></script>
    <script src="{{url}}js/semantic.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.1/components/icon.min.css">
  </head>
  <body ng-app="home" ng-controller="homeCtrl">
    <div class="ui inverted huge borderless fixed fluid menu">
      <a class="header item">HORUS SITE</a>
      <div class="right menu">
        <!-- <div class="item">
          <div class="ui small input">
            <input placeholder="Search..." />
          </div>
        </div> -->
        <a class="item" ng-show="{{usuario}}" ng-controller="usuarioCtrl" ng-click="btnSalir()">Salir</a>
      </div>
    </div>
    {{{body}}}
  </body>
  <script src="{{url}}js/build.js"></script>
  <script src="{{url}}js/socket.io.js"></script>
</html>
