<style media="screen">
section {
width: 100%;
}
</style>
<div ng-controller="homeCtrl" ng-init="init(1)">
  <div class="ui grid" style="padding: 70px">
    <div class="four wide column">
      <div class="ui segment">
        <h2 class="ui header">
          <i class="settings icon"></i>
          <div class="content">
            Bienvenido HORUS-CHECK
            <div class="sub header">Manage your preferences</div>
          </div>
        </h2>
        <div class="ui divider"></div>
        <div class="ui middle aligned animated selection list">
          <div class="item " ng-click="btnInicio()">
            <i class="large home middle aligned icon"></i>
            <div class="content">
              <div class="header">Inicio</div>
            </div>
          </div>
          <div class="item" ng-click="btnServidores()">
            <i class="large server middle aligned icon"></i>
            <div class="content">
              <div class="header">Servidores</div>
            </div>
          </div>
          <div class="item" ng-click="btnNotificaciones()">
            <i class="large bullhorn middle aligned icon"></i>
            <div class="content">
              <div class="header">Notificaciones</div>
            </div>
          </div>
          <div class="item active" ng-click="btnIndicadores()">
            <i class="large chart pie middle aligned icon"></i>
            <div class="content">
              <div class="header">Indicadores</div>
            </div>
          </div>
          <div class="item" ng-click="btnUsuarios()">
            <i class="large user middle aligned icon"></i>
            <div class="content">
              <div class="header">Usuarios</div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="twelve wide column">
      <div class="ui segment">
        <h2 class="ui header">
          <i class="chart pie icon"></i>
          <div class="content">
            Indicadores
          </div>
        </h2>
        <div class="ui divider"></div>
        <h3 class="ui header">Utimos cinco monitoreos</h3>
        <div class="ui divider"></div>
        <section>
          <canvas id="myChart"></canvas>
        </section>
        <h3 class="ui header">Indicadores por servidor</h3>
        <div class="ui divider"></div>
        <div class="row">
          <div class="ui grid">
            <div class="ten wide column">
              <table class="ui table">
                <thead>
                  <th>Nombre</th>
                  <th>Ip</th>
                  <th>Fecha</th>
                  <th>Ver</th>
                </thead>
                <tbody>
                  <tr ng-repeat="l in checo.listServer">
                    <td>{[l.nombre]}</td>
                    <td>{[l.ip]}</td>
                    <td>{[l.fecha]}</td>
                    <td>
                      <button type="button" name="button" class="ui button blue mini" ng-click="btnEditarServer(l)">
                        <i class="chart pie icon"></i>
                        Ver
                      </button>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
            <div class="eigth wide column">

            </div>
          </div>
        </div>
        <h3 class="ui header">Utimos cinco servidores registrados</h3>
        <div class="ui divider"></div>
      </div>
    </div>
  </div>
</div>
