<div ng-controller="homeCtrl" ng-init="init()">
  <div class="ui grid" style="padding: 70px">
    <div class="four wide column">
      <div class="ui segment">
        <h2 class="ui header">
          <i class="settings icon"></i>
          <div class="content">
            Bienvenido HORUS-CHECK
            <div class="sub header">Manage your preferences</div>
          </div>
        </h2>
        <div class="ui divider"></div>
        <div class="ui middle aligned animated selection list">
          <div class="item active" ng-click="btnInicio()">
            <i class="large home middle aligned icon"></i>
            <div class="content">
              <div class="header">Inicio</div>
            </div>
          </div>
          <div class="item" ng-click="btnServidores()">
            <i class="large server middle aligned icon"></i>
            <div class="content">
              <div class="header">Servidores</div>
            </div>
          </div>
          <div class="item" ng-click="btnNotificaciones()">
            <i class="large bullhorn middle aligned icon"></i>
            <div class="content">
              <div class="header">Notificaciones</div>
            </div>
          </div>
          <div class="item" ng-click="btnIndicadores()">
            <i class="large chart pie middle aligned icon"></i>
            <div class="content">
              <div class="header">Indicadores</div>
            </div>
          </div>
          <div class="item" ng-click="btnUsuarios()">
            <i class="large user middle aligned icon"></i>
            <div class="content">
              <div class="header">Usuarios</div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="twelve wide column">
      <div class="ui segment">
        <h2 class="ui header">
          <i class="home icon"></i>
          <div class="content">
            Inicio
          </div>
        </h2>
        <div class="ui divider"></div>

        <h3 class="ui header">Buscar</h3>
        <div class="ui icon input">
          <input type="text" placeholder="Buscar..." ng-model="buscar">
          <i class="inverted circular search link icon"></i>
        </div>

        <h3 class="ui header">Utimos cuatro servidores registrados</h3>
        <div class="ui divider"></div>
        <a class="ui green ribbon label">Total {[checo.listServer.length]}</a>
        <div class="ui cards">
          <div class="card" ng-repeat="l in checo.listServer | filter:buscar">
            <div class="content">
              <img class="right floated mini ui image" src="{{url}}img/servers.png">
              <div class="header">
                {[l.nombre]}
              </div>
              <div class="meta">
                {[l.ip]}
              </div>
              <div class="description">
                Usuario alta: {[l.usuario_alta]}
              </div>
            </div>
            <div class="extra content">
              <div class="ui basic green button">Approve</div>
            </div>
          </div>
        </div>


        <h3 class="ui header">Ultimos monitoreos</h3>
        <div class="ui divider"></div>
        <a class="ui blue ribbon label">Total {[checo.listMonitoreo.length]}</a>
        <div class="ui cards">
          <div class="card" ng-repeat="l in checo.listMonitoreo | filter:buscar">
            <div class="content">
              <img class="right floated mini ui image" src="{{url}}img/system.png">
              <div class="header">
                Servidor #: {[l.servidor_id]}
              </div>
              <div class="meta">
                IP: {[l.ip]}
              </div>
              <div class="description">
                <strong>Fecha</strong>: {[l.fecha]} <br>
                <strong>Servidor</strong>: {[l.servidor]} <br>
                <strong>notificacion</strong>: {[l.servicio]}
              </div>
            </div>
          </div>
        </div>

        <h3 class="ui header">Utimas notificaciones</h3>
        <div class="ui divider"></div>
        <a class="ui red ribbon label">Total {[checo.listNotificacion.length]}</a>
        <div class="ui cards">
          <div class="card" ng-repeat="l in checo.listNotificacion | filter:buscar">
            <div class="content">
              <img class="right floated mini ui image" src="{{url}}img/bell.png">
              <div class="header">
                {[l.resultado]}
              </div>
              <div class="meta">
                {[l.estatus]}
              </div>
              <div class="description">
                <strong>Tipo</strong>: {[l.notificacion]} <br>
                <strong>Entregado a</strong>: {[l.correo]} <br>
                <strong>Telefono</strong>: {[l.telefono]} <br>
                <strong>Servidor</strong> Ip: {[l.ip]}
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
