<div ng-controller="usuarioCtrl">
  <div class="ui grid" style="padding: 70px">
    <div class="sixteen wide column">
      <div>
        <h2 class="ui header">
          <i class="settings icon"></i>
          <div class="content">
            Bienvenido HORUS-CHECK
            <div class="sub header">Por favor inicia sesión</div>
          </div>
        </h2>
        <div class="ui divider"></div>
        <div class="ui grid">
          <div class="four wide column">
            <form class="ui form">
              <div class="field">
                <label>Usuario</label>
                <input type="text" name="" value="" ng-model="login.master.usr">
              </div>
              <div class="field">
                <label>Contraseña</label>
                <input type="password" name="" value="" ng-model="login.master.pass">
              </div>
              <button type="button" name="button" class="ui button green" ng-click="doMaster()">
                <i class="heart outline icon"></i>
                Iniciar Sesión
              </button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
