<div ng-controller="homeCtrl" ng-init="init()">
  <div class="ui grid" style="padding: 70px">
    <div class="four wide column">
      <div class="ui segment">
        <h2 class="ui header">
          <i class="settings icon"></i>
          <div class="content">
            Bienvenido HORUS-CHECK
            <div class="sub header">Manage your preferences</div>
          </div>
        </h2>
        <div class="ui divider"></div>
        <div class="ui middle aligned animated selection list">
          <div class="item " ng-click="btnInicio()">
            <i class="large home middle aligned icon"></i>
            <div class="content">
              <div class="header">Inicio</div>
            </div>
          </div>
          <div class="item" ng-click="btnServidores()">
            <i class="large server middle aligned icon"></i>
            <div class="content">
              <div class="header">Servidores</div>
            </div>
          </div>
          <div class="item active" ng-click="btnNotificaciones()">
            <i class="large bullhorn middle aligned icon"></i>
            <div class="content">
              <div class="header">Notificaciones</div>
            </div>
          </div>
          <div class="item" ng-click="btnIndicadores()">
            <i class="large chart pie middle aligned icon"></i>
            <div class="content">
              <div class="header">Indicadores</div>
            </div>
          </div>
          <div class="item" ng-click="btnUsuarios()">
            <i class="large user middle aligned icon"></i>
            <div class="content">
              <div class="header">Usuarios</div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="twelve wide column">
      <div class="ui segment">
        <h2 class="ui header">
          <i class="bullhorn icon"></i>
          <div class="content">
            Notificaciones
          </div>
        </h2>
        <div class="ui divider"></div>
        <div class="ui special cards">
          <div class="card">
            <div class="blurring dimmable image">
              <div class="ui dimmer">
                <div class="content">
                  <div class="center">
                    <div class="ui inverted button">Add Friend</div>
                  </div>
                </div>
              </div>
              <img src="{{url}}img/smartphone.png">
            </div>
            <div class="content">
              <a class="header">Canal SMS</a>
            </div>
            <div class="extra content">
              <a>
                <i class="edit icon"></i>
                Activa
              </a>
            </div>
          </div>
          <div class="card">
            <div class="blurring dimmable image">
              <div class="ui inverted dimmer">
                <div class="content">
                  <div class="center">
                    <div class="ui primary button">Add Friend</div>
                  </div>
                </div>
              </div>
              <img src="{{url}}img/email.png">
            </div>
            <div class="content">
              <a class="header">Canal email</a>
            </div>
            <div class="extra content">
              <a>
                <i class="edit icon"></i>
                Activa
              </a>
            </div>
          </div>
          <div class="card">
            <div class="blurring dimmable image">
              <div class="ui inverted dimmer">
                <div class="content">
                  <div class="center">
                    <div class="ui primary button">Add Friend</div>
                  </div>
                </div>
              </div>
              <img src="{{url}}img/digital-marketing.png">
            </div>
            <div class="content">
              <a class="header">Canal telefono</a>
            </div>
            <div class="extra content">
              <a>
                <i class="edit icon"></i>
                Activa
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
