<div ng-controller="homeCtrl" ng-init="init()">
  <div class="ui grid" style="padding: 70px" ng-init="servidor()">
    <div class="four wide column">
      <div class="ui segment">
        <h2 class="ui header">
          <i class="settings icon"></i>
          <div class="content">
            Bienvenido HORUS-CHECK
            <div class="sub header">Manage your preferences</div>
          </div>
        </h2>
        <div class="ui divider"></div>
        <div class="ui middle aligned animated selection list">
          <div class="item " ng-click="btnInicio()">
            <i class="large home middle aligned icon"></i>
            <div class="content">
              <div class="header">Inicio</div>
            </div>
          </div>
          <div class="item active" ng-click="btnServidores()">
            <i class="large server middle aligned icon"></i>
            <div class="content">
              <div class="header">Servidores</div>
            </div>
          </div>
          <div class="item" ng-click="btnNotificaciones()">
            <i class="large bullhorn middle aligned icon"></i>
            <div class="content">
              <div class="header">Notificaciones</div>
            </div>
          </div>
          <div class="item" ng-click="btnIndicadores()">
            <i class="large chart pie middle aligned icon"></i>
            <div class="content">
              <div class="header">Indicadores</div>
            </div>
          </div>
          <div class="item" ng-click="btnUsuarios()">
            <i class="large user middle aligned icon"></i>
            <div class="content">
              <div class="header">Usuarios</div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="twelve wide column">
      <div class="ui segment">
        <h2 class="ui header">
          <i class="server icon"></i>
          <div class="content">
            Servidores
          </div>
        </h2>
        <div class="">
          <button type="button" name="button" class="ui button mini green" ng-click="btnModalAgregarServidor()">
            <i class="plus icon"></i>
            Agregar
          </button>
        </div>
        <div class="ui divider"></div>
        <div class="ui grid">
          <div class="twelve wide column">
            <a class="ui red ribbon label">Total: {[checo.listServer.length]}</a>
            <table class="ui table">
              <thead>
                <th>Nombre</th>
                <th>Ip</th>
                <th>Fecha</th>
                <th>Usuario Alta</th>
                <th>Tipo</th>
                <th>Editar</th>
              </thead>
              <tbody>
                <tr ng-repeat="l in checo.listServer">
                  <td>{[l.nombre]}</td>
                  <td>{[l.ip]}</td>
                  <td>{[l.fecha]}</td>
                  <td>{[l.usuario_alta]}</td>
                  <td>{[l.nombre]}</td>
                  <td>
                    <button type="button" name="button" class="ui button yellow mini" ng-click="btnEditarServer(l)">
                      Editar
                    </button>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="four wide column">
            <div style="padding: 20px">
              <canvas id="myChart" width="400" height="400"></canvas>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="ui modal" id="modal-server">
    <div class="header">{[titulo_agrega_server]} servidor</div>
    <div class="content">
      <form class="ui form">
        <div class="field">
          <label>Nombre servidor</label>
          <input type="text" ng-model="checo.server_form.nombre">
        </div>
        <div class="field">
          <label>Ip</label>
          <input type="text" ng-model="checo.server_form.ip">
        </div>
        <div class="field">
          <label>Server tipo</label>
          <select ng-model="checo.server_form.servidor_tipo_id">
            <option ng-repeat="l in checo.listTipoServer" value="{[l.servidor_tipo_id]}">{[l.nombre]}</option>
          </select>
        </div>
      </form>
    </div>
    <div class="actions">
      <button type="button" class="ui button" name="button" ng-show="checo.editar" ng-click="btnEliminarServer()">Eliminar</button>
      <button type="button" name="button" class="ui button red" onclick="$('#modal-server').modal('hide')">Cancelar</button>
      <button type="button" name="button" class="ui button green" ng-click="btnAgregarServer()" ng-hide="checo.editar">Agregar</button>
      <button type="button" name="button" class="ui button yellow" ng-click="btnSetEditarServer()" ng-show="checo.editar">Editar</button>
    </div>
  </div>
</div>
